.whiteheader {
    background-color: whitesmoke;
    margin: 0px;
    height: 145px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}    
.black {
    width: 940px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    background-color: #2a2c2e;
    margin-top: -11px;
}
.big {
    color: white;
    align-items: center;
    justify-content: left;
    width: 2000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.books {
    padding-right: 20px;
    align-items: center;
    width: 2850px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: gray;
}
.icons {
    justify-items: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    padding-right: 20px;
}
.login {
    border-radius: 15px;
    background-color: #f4ce47;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    margin-right: 25px;
    border-radius: 13px ;
    font-size: smaller;
    width: 500px;
    justify-items: center;
}

.yellow {
    background-color: #f4ce47;
    padding: 10px;   
    font-size: 35.5px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 45px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: #2a2c2e;
    margin: 0px;
    height: 1400px;
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 47px;
}    
.baris1 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    padding-bottom: 9px;
    padding-top: 2px;
}
.baris2 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    padding-bottom: 9px;
}
.baris3 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
}

.buku1 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
    justify-items: center;
    
}
.buku2 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;

}
.buku3 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;

}

.buku4 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
    justify-items: center;
}
.buku5 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
}
.buku6 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
}

.buku7 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
    justify-items: center;
}
.buku8 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
}
.buku9 {
    width: 233px;
    height: 460px;
    background-color: white;
    border-radius: 13px;
}



.infobuku {
    margin: 20px;
    
}

.infobuku2 {
    margin-top: 2px; 
    margin-right: 80px; 
    color:gray; 
    font-size: smaller;
}
.infobuku3 {
    margin-bottom: 35px; 
    margin-top: 2.5px; 
    color: #000000c0;
    font-size: 15px;
}

.infobuku4 {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    color: grey;
    
    
    
    
}

.komen {
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    font-size: 10px;
    padding: 1px;
    width: 40px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 5px;
    
    padding-top: 4px;
    padding-bottom: 2px;
    
    
    
}
.bintang {
    border: 1px solid black;
    border-radius: 25px;
    align-items: center;
    font-size: 10px;
    padding: 1px;
    width: 70px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    
}



.infobuku5 {
    display: flex; 
    flex-direction: row; 
    gap: 10px;
    
}








.footer {
    background-color: whitesmoke;
    margin: 0px;
    height: 75px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}    


.black2 {
    width: 940px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    background-color: #2a2c2e;
    margin-top: -11px;
}

.big2 {
    color: white;
    align-items: center;
    justify-content: left;
    width: 2000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.icons2 {
    justify-items: left;
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin: 10px;
    padding-right: 20px;
}
.terms {
    width: 940px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    background-color: #000000e0;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}


